body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
  }

ul,
ol {
    list-style-type: none;
}

header h3 {
    margin-top: 0px;
}

header {
    display: flex;
    justify-content: space-between;
}

#Highscores {
    color: blueviolet;
    cursor: pointer;
    user-select: none;
}

#Highscores:active {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



#Main_h1 {
    font-size: 40px;
    margin: 10px;
}

section {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
   margin: 0px 150px;
}

#Rules {
    width: 580px;
    text-align: center;
}

#Start-button {
    margin-top: 0px;
}

#Start-button, 
ul li, 
#Start-over,
#Submit-button,
#High-buttons h3 {
    width: fit-content;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    padding: 0px 8px;
    border-radius: 5%;
    color: white;
    background-color: blueviolet;
}

#Start-button:active,
ul li:active,
#Start-over:active,
#Submit-button:active,
#High-buttons h3:active {
    box-shadow: 2px 2px 5px #7c4dfc;
}

#Score {
    margin-bottom: 3px;
}

#Star-over {
    margin-top: 18.720px;
}

#Submit_div {
    display: flex;
}

#Input_id {
    height: 23px;
    margin-top: 17px;
}

.Input_line {
    margin-right: 10px;
}



li {
    font-size: large;
    margin-top: 5px;
}

#Answer2,
#Answer3,
#Answer4,
#Answer5,
#Answer6 {
    opacity: 0.7;
    font-style: italic;
    font-weight: bold;

}

ul,
#Final {
    margin-top: 16px;
    margin-right: 150px;
}

#Question,
#Question2,
#Question3,
#Question4,
#Question5
#Done {
    margin-top: 0px;
}

#High-page {
    width: 500px;
    margin-top: 16px;
    margin-right: 18px;
    display: flex;
    flex-direction: column;

}

#High-buttons {
    display: flex;
    flex-wrap: wrap;

}

#High-buttons h3 {
    margin-right: 13px;
}

ol li {
    background-color: rgb(202, 166, 236);
    width: 500px;
}

ol {
    padding: 0px;
    margin: 0px;
}

#High-page h1 {
    font-size: 40px;
    margin: 20px 0px;
}

